* {
    padding: 0;
    margin: 0 auto;
}

html {
    font-size: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.outer {
    width: 80rem;
    height: 50rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    background: #000;
    overflow: hidden;
}

#img {
    transition: .7s;
    overflow: hidden;
}

#img:hover {
    /* 不扩大缩小，正常宽度 */
    flex-grow: 0;
    flex-shrink: 0;
    /* width: 15rem;
    transition: all 0.5s; */
}

img {
    width: 10rem;
    height: 50rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-top: 1rem;
    position: relative;
    padding: 2rem;
    border-radius: 5rem;
    background: #e75f5fc4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    /*这里的 宽度由 active/deactive 接管*/
}

.navbar input {
    width: 4rem;
    height: 4rem;
    opacity: 0;
}

.navbar span {
    left: 2.5rem;
    width: 3rem;
    height: 0.4rem;
    position: absolute;
    background-color: #fff;
    pointer-events: none;
    transition: all 0.5s;
    opacity: 1;
    top: calc(50% - 12px);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}

.navbar span:nth-child(3) {
    top: calc(50% + 8px);
}


/* 中间那条线 */

.navbar span:nth-child(4) {
    top: calc(50% - 2px);
}

.navbar ul {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    /* 溢出隐藏 */
}

.navbar ul li {
    list-style: none;
    margin: 0 1rem;
    flex-wrap: nowrap;
    /* a标签的左右边距 */
}

.navbar ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.navbar ul li a:hover {
    color: #333;
}


/*  路由显示时宽度  */

.deactive {
    width: 4rem;
    height: 4rem;
}

.active {
    width: 40rem;
    height: 4rem;
}

.navbar input:checked~ul {
    opacity: 1;
    width: 100%;
}


/* 最上的条*/

.navbar input:checked~span:nth-child(4) {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: #df3535;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}


/* 最下的条*/

.navbar input:checked~span:nth-child(2) {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #df3535;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}


/* 中间的条*/

.navbar input:checked~span:nth-child(3) {
    opacity: 0;
}