* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efeeee;
    /* background-image: url(/images/cursor/normal.png); */
    cursor: url(/images/cursor/normal.png);
}